
#viewer {
	margin-left: 370px;
	cursor: default;
	line-height: 16px;
}

/**
* MEMO : height: 16px;
* Prevent to break lines with empty block.
*/
#viewer div {
	height: 16px;
}

#viewer a {
	height: 16px;
	display: block;
	text-decoration: none;
}