
.mtop {
	margin-top: 10px;
}

.nowrap {
	white-space: nowrap;
}

.block {
	display: block;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.b {
	font-weight: bold;
}

.i {
	font-style: italic;
}

.name {
	display: block;
	overflow: hidden;
	white-space: nowrap;
}

.oBox {
	padding: 5px 10px;
	/* outset black */
	border-top: 1px solid #b2b2b2;
	border-left: 1px solid #b2b2b2;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}